@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1280px){
    #bars{
        display: flex;
    }
}
@media screen and (max-width: 992px){
    .main{
        position: absolute;
        top:0;
        left:-100%;
        width: 100%;
        height: 100%;
        z-index: 100;
        transition: left 0.5s;
    }
    .about-image{
        max-height:30rem; 
    }
    .content-about{
        h2{
            font-size: 2.5rem;
        }
    }
}
@media screen and (max-width: 768px){
    .content-skill{
        padding: 1rem;
        h2{
            font-size: 2.5rem;
        }
    }
    .content-services{
        padding: 2.5rem;
        h2{
            font-size: 2rem;
        }
    }
    .content-about{
        h2{
            font-size: 2.5rem;
        }
    }
    .content-projects{
        h2{
            font-size: 2.5rem;
        }
    }
}
@media screen and (max-width: 576px){ 
    .carousel-inner{
        height: 350px;
    }
    .content-services{
        overflow-y: scroll;
    }
    .service{
        justify-content:space-between;
    }
    .content-home{
        .img-content{
            transform: scale(1.5,2);
        }
    }
    .content-services{
        padding: 1.5rem;
    }
    .about-description{
        font-size: 1rem;
    }
    
    nav{
        margin-top: 2rem ;
    }
    .service-item{
        h3{
            color:$blue4;
            font-size: 1.2rem;
        }
    }
}
@media screen and (max-width: 540px){ 
    .presentation-title-wrap{
        .presentation-title{
            width: 50%;
            h1{
                font-size: 1.5rem;
            }
        }
    }
    div{
        .presentation-subtitle{
            h2{
                font-size: 1.2rem;
            }
        }
    }
    .skill-item{
        height: 4rem;
        margin-bottom: 1rem;
    }
    .about-image{
        max-height:20rem;   
    }
}