@import "mixin";

.content-skill{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    background-color: $blue2;
    padding: 3rem;
    overflow-y: scroll;
    h2{
        color:$white;
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}
.skill-item{
    text-align: center;
    margin-bottom: 1rem;
    div{
      width: 100%;
    }
    p{
        color:$white;
        &:nth-of-type(1){
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
    i{
        font-size: 4rem;
        margin-bottom: 1rem;
    }
    /*padding: 0.5rem;
    height: 5rem;
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
    i{
        position: absolute;
        color:white;
        left: 0.5rem;
        top:50%;
        transform:translateY(-50%);
        font-size: 2rem;
    }
    div{
        margin-left: 2rem;
        p{
            color:$white;
        }
        .progress{
            background-color: $blue1;
            .progress-bar{
                width: 0;
                margin: 0;
                background-color: $blue3;
            }
        }
    }*/
}